.Counter__btn:hover {
    border: none;
    background-color: #04AA6D;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transform: scale(1.5, 1.2);
    margin-right: 10px;
    margin-left: 10px;
}

.Counter__btn {
    border: 2px solid #04AA6D;
    background-color: #fff;
    color: #04AA6D;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 2.5px;
    transition: all .3s ease-in-out;
}

.Counter_header {
    color: #04AA6D;
}

.Counter {
    padding: 20px;
    width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

}
